@use "@scss/common" as *;

.track {
  width: 100%;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  padding: base();
  background-color: var(--color-gray-1);
  text-align: center;

  &:nth-child(even) {
    background-color: var(--color-gray-2);
  }
}

.dots {
  display: flex;
  margin-top: base(0.5);
  justify-content: center;
}

.dot {
  all: unset;
  cursor: pointer;
  width: base(0.25);
  height: base(0.25);
  background-color: var(--color-gray-3);

  &:not(:last-child) {
    margin-right: base(0.25);
  }

  &:hover {
    background-color: var(--color-gray-4);
  }

  @include mid-break {
    &:hover {
      background-color: var(--color-gray-3); // disable hover on mobile
    }
  }
}

.dotIsActive {
  background-color: var(--color-gray-5);
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-gray-5);

      &:nth-child(even) {
        background-color: var(--color-gray-9);
      }
    }

    .dot {
      background-color: var(--color-gray-5);

      &:hover {
        background-color: var(--color-gray-4);
      }

      @include mid-break {
        &:hover {
           background-color: var(--color-gray-4); // disable hover on mobile
        }
      }
    }

    .dotIsActive {
      background-color: white;
    }
  }
}
