@use "@scss/common" as *;

.track {
  width: 100%;
  padding-bottom: base(0.5);
}

.slide {
  padding: base();
  background-color: var(--color-lightest-gray);

  &:nth-child(even) {
    background-color: var(--color-lighter-gray);
  }
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-dark-gray);

      &:nth-child(even) {
        background-color: var(--color-darkest-gray);
      }
    }
  }
}
