@use "@scss/common" as *;

.track {
  width: 100%;
  padding-bottom: base(0.5);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  padding: base();
  background-color: var(--color-gray-2);
  text-align: center;

  &:nth-child(even) {
    background-color: var(--color-gray-3);
  }
}

.progress {
  width: 100%;
  height: 10px;
  background-color: var(--color-gray-2);
  overflow: hidden;
}

.progressIndicator {
  background-color: var(--color-gray-3);
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-gray-7);

      &:nth-child(even) {
        background-color: var(--color-gray-8);
      }
    }

    .progress {
      background-color: var(--color-gray-8);
    }

    .progressIndicator {
      background-color: var(--color-gray-7);
    }
  }
}
