@use "@scss/common" as *;

.track {
  width: 100%;
  padding-bottom: base(0.5);
}

.slide {
  padding: base();
  background-color: var(--color-gray-1);
  text-align: center;

  &:nth-child(even) {
    background-color: var(--color-gray-2);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: base(0.5);
  & > *:not(:last-child) {
    margin-right: base(0.25);
  }
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-gray-5);

      &:nth-child(even) {
        background-color: var(--color-gray-9);
      }
    }
  }
}
