@use "@scss/common" as *;

.track {
  width: 100%;
  padding-bottom: base(0.5);
}

.slide {
  padding: base();
  background-color: var(--color-lightest-gray);
  text-align: center;

  &:nth-child(even) {
    background-color: var(--color-lighter-gray);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: base(0.5);
  & > *:not(:last-child) {
    margin-right: base(0.25);
  }
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-dark-gray);

      &:nth-child(even) {
        background-color: var(--color-darkest-gray);
      }
    }
  }
}
