@use "@scss/common" as *;

.releaseRow {
  position: relative;
  background-color: var(--color-gray-1);
  padding: base();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2px;

  &:not(:last-child) {
    margin-bottom: base(0.5);
  }

  @include mid-break {
    padding: base(0.5);

    &:not(:last-child) {
      margin-bottom: base(0.25);
    }
  }
}

.body {
  width: 100%;
}

.notes {
  border-left: 1px solid currentColor;
  margin-bottom: base(0.5);
  margin-top: base(0.5);
  padding-left: base(0.5);
  overflow-wrap: break-word;

  &:global() {
    h1, h2,  h3, h4 {
      @include h5;
    }
  }
}

:global(.isDark) {
  &:local() {
    .releaseRow {
      background-color: var(--color-gray-9);
    }
  }
}
