.hyperlink {
  color: currentColor;
  text-decoration: none;
  font-weight: inherit;
}

.underlineOnHover {
  &:hover {
    text-decoration: underline;
    & * {
      text-decoration: underline;
    }
  }
}

.underline {
  h1, h2, h3, h4, h5, h6, p, span {
    text-decoration: underline;
  }
}

.colored {
  color: var(--color-blue);
}

.dimOnHover {
  &:hover {
    opacity: 0.9;
  }
}
