.hyperlink {
  color: currentColor;
  text-decoration: none;
  font-weight: inherit;
}

.underlineOnHover {
  &:hover {
    text-decoration: underline;
    & * {
      text-decoration: underline;
    }
  }
}

.underline {
  text-decoration: underline;
  & * {
    text-decoration: underline;
  }
}

.colored {
  color: var(--color-blue);
}
