@use "@scss/common" as *;

.mobileNavModal {
  width: 100vw;
  height: calc(var(--vh) * 100);
  background: transparent;
  border: none;
  color: var(--color-html);
  overflow: auto;
  will-change: opacity;
  transition: opacity var(--modal-trans-time) linear;
  opacity: 0;
  padding: 0;

  &:global(.modal-item--appearActive),
  &:global(.modal-item--appearDone),
  &:global(.modal-item--enterActive),
  &:global(.modal-item--enterDone) {
    opacity: 1;
  }

  &:global(.modal-item--exitActive),
  &:global(.modal-item--exitDone) {
    opacity: 0;
  }
}

.wrapper {
  padding: var(--mobile-gutter) var(--mobile-gutter) 0;
  position: relative;
  height: 100%;

  &::after {
    content: ' ';
    padding-top: base(3);
    display: block;
  }
}
