@use "@scss/common" as *;

.modal {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.015);
  will-change: opacity;
  transition: opacity var(--modal-trans-time) linear;
  opacity: 0;

  &:global(.modal-item--appearActive),
  &:global(.modal-item--appearDone),
  &:global(.modal-item--enterActive),
  &:global(.modal-item--enterDone) {
    opacity: 1;
  }

  &:global(.modal-item--exitActive),
  &:global(.modal-item--exitDone) {
    opacity: 0;
  }
}

.wrapper {
  width: 50%;

  @include mid-break {
    width: calc(100% - #{base(2)});
  }
}

.close {
  color: white;
  cursor: pointer;
  margin-bottom: base(0.5);
}

.content {
  padding: base();
  background-color: white;
  color:  var(--color-html);
}

:global(.isDark) {
  &:local() {
    .modal {
      background-color: rgba(0, 0, 0, 0.75);
    }

    .content {
      background-color: var(--color-gray-8);
    }
  }
}
