@use "@scss/common" as *;

.versionNumber {
  padding: 2px 4px;
  background-color: var(--color-light-gray);
  border-radius: 2px;
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
}

.lightest-gray {
  background-color: var(--color-lightest-gray);
}

.lighter-gray {
  background-color: var(--color-lighter-gray);
}

.light-gray {
  background-color: var(--color-light-gray);
}

.gray {
  background-color: var(--color-gray);
}

.dark-gray {
  background-color: var(--color-dark-gray);
}

.darker-gray {
  background-color: var(--color-darker-gray);
}

.darkest-gray {
  background-color: var(--color-darkest-gray);
}

.black {
  background-color: var(--color-black);
}
