@use "@scss/common" as *;

.code {
  @include code;
  background-color: var(--color-lighter-gray);
  padding: 4px 8px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  line-height: 1;

  @include mid-break {
    padding: 2px 6px;
  }
}

.size--small {
  font-size: 12px;
  padding: 4px 6px;
}

:global(.isDark) {
  &:local(){
    .code {
      background-color: var(--color-darker-gray);
      color: var(--color-white);
    }
  }
}
