@use "@scss/common" as *;

.code {
  background-color: var(--color-lighter-gray);
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "JetBrains Mono", monospace;
}

.darkMode {
  background-color: var(--color-darkest-gray);
  color: var(--color-white);
}
