@use "@scss/common" as *;

.dotNav {
  position: fixed;
  right: var(--mobile-gutter);
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: flex;
  flex-direction: column;
}

.dot {
  all: unset;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: var(--color-gray-3);

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    background-color: var(--color-gray-4);
  }
}

.activeDot {
  background-color: var(--color-gray-4);

  &:hover {
    background-color: var(--color-gray-5);
  }
}

// this is to achieve a scroll offset
.section {
  padding-top: base(2);
  margin-top: base(-2);
  margin-bottom: base();

  @include mid-break {
    padding-top: base(0.5);
    margin-top: base(-0.5);
    margin-bottom: base(0.5);
  }
}

.spacer {
  height: 100vh;
  background-color: var(--color-gray-1);
}

:global(.isDark) {
  &:local() {
    .dot {
      background-color:  var(--color-gray-5);
      &:hover {
        background-color: var(--color-gray-4);
      }
    }

    .activeDot {
      background-color: var(--color-gray-3);
      &:hover {
        background-color: white;
      }
    }

    .spacer {
      background-color: vaR(--color-gray-9);
    }
  }
}
