@use "@scss/common" as *;

.card {
  display: flex;
  flex-direction: column;
  padding: base();
  background-color: var(--color-gray-8);
  color: var(--color-white);
  height: 100%;
  justify-content: flex-start;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    border-color:  var(--color-gray-3);
  }

  @include mid-break {
    &:hover {
      background-color: var(--color-gray-1);
    }
  }
}

.title {
  margin: 0;
}

.leader {
  margin-bottom: base(0.5);
}

.description {
  @include small;
  margin: 0;
  margin-top: base(0.25);
  color: var(--color-gray-4);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @include mid-break {
    -webkit-line-clamp: 2;
  }
}

:global(.isDark) {
  &:local() {
    .card {
      background-color: var(--color-gray-9);
      border-color:  var(--color-gray-2);

      &:hover {
        background-color: var(--color-gray-10);
      }

      @include mid-break {
        &:hover {
          background-color: var(--color-gray-9);
        }
      }
    }
  }
}
