@use "@scss/common" as *;

.card {
  display: flex;
  flex-direction: column;
  padding: base();
  background-color: var(--color-light-gray);
  height: 100%;
  justify-content: flex-end;

  &:hover {
    background-color: var(--color-gray);
  }
}

.title {
  margin: 0;
}
