@use "@scss/common" as *;

.mainHero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: base(4);
  margin-bottom: base(4);

  @include mid-break {
    padding-top: base(2);
    min-height: 0;
    margin-bottom: base(3);
  }
}
