@use "@scss/common" as *;

.dateSection {
  position: relative;

  &:not(:last-child) {
    margin-bottom: base(2);
  }
}

.notes {
  padding: base();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: break-word;
}

:global(.isDark) {
  &:local() {
    .li {
      border: 1px solid var(--color-gray-9);
    }
  }
}
