@use "@scss/common" as *;

.notificationsContainer {
  position: fixed;
  bottom: base();
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification {
  @include small;
  padding: base(0.5) base();
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: white;
  box-shadow: var(--shadow-s);
  &:not(:last-child) {
    margin-bottom: base(0.5);
  }
}

.isDark  {
  background-color: var(--color-darkest-gray);
  color: white;
}
