@use "@scss/common" as *;

.release {
  position: relative;
}

.loading {
  margin-top: base(2);

  @include mid-break {
    margin-top: base();
  }
}

.releasesLink {
  margin-top: base(2);

  @include mid-break {
    margin-top: base(0.75);
  }
}
