@use "@scss/common" as *;

.release {
  position: relative;
}

.latestInfo {
  background: var(--color-gray-2);
  padding: base();
  margin-bottom: base();
}

.latestVersion,
.latestSize,
.latestName {
  font-weight: 600;
}

:global(.isDark) {
  &:local() {
    .latestInfo {
      background: var(--color-gray-9);
    }
  }
}
