@use "@scss/common" as *;

.release {
  position: relative;
}

.latestInfo {
  background: var(--color-gray-2);
  padding: base();
  margin-bottom: base();
  border-radius: 2px;

  @include mid-break {
    margin-bottom: base(0.5);
  }
}

.latestVersion,
.latestSize,
.latestName {
  font-weight: 600;
}

.loading {
  margin-top: base(2);

  @include mid-break {
    margin-top: base();
  }
}

:global(.isDark) {
  &:local() {
    .latestInfo {
      background: var(--color-gray-9);
    }
  }
}
