@use "@scss/common" as *;

.track {
  width: 100%;
  padding-bottom: base(0.5);
}

.slide {
  cursor: pointer;
  padding: base();
  background-color: var(--color-gray-1);
  text-align: center;

  &:nth-child(even) {
    background-color: var(--color-gray-2);
  }

  &.clickable {
    cursor: pointer;
  }
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-gray-5);

      &:nth-child(even) {
        background-color: var(--color-gray-9);
      }
    }
  }
}

.modal {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  will-change: opacity;
  transition: opacity var(--modal-trans-time) linear;
  opacity: 0;

  &:global(.modal-item--appearActive),
  &:global(.modal-item--appearDone),
  &:global(.modal-item--enterActive),
  &:global(.modal-item--enterDone) {
    opacity: 1;
  }

  &:global(.modal-item--exitActive),
  &:global(.modal-item--exitDone) {
    opacity: 0;
  }
}

.modalContent {
  width: 50%;
  color:  var(--color-html);
}

.close {
  all: unset;
  color: white;
  cursor: pointer;
  margin-bottom: base(0.5);
}

