@use "@scss/common" as *;

.track {
  width: 100%;
  padding-bottom: base(0.5);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  padding: base();
  background-color: var(--color-lightest-gray);
  text-align: center;

  &:nth-child(even) {
    background-color: var(--color-lighter-gray);
  }
}

.progress {
  width: 100%;
  height: 10px;
  background-color: var(--color-lighter-gray);
  overflow: hidden;
}

.progressIndicator {
  background-color: var(--color-light-gray);
}

:global(.isDark) {
  &:local() {
    .slide {
      background-color: var(--color-dark-gray);

      &:nth-child(even) {
        background-color: var(--color-darkest-gray);
      }
    }

    .progress {
      background-color: var(--color-darker-gray);
    }

    .progressIndicator {
      background-color: var(--color-dark-gray);
    }
  }
}
