@use "@scss/common" as *;

.nextInDocs {
  position: relative;
}

.content {
  padding: base() base();
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: normal;
  position: relative;
}

.label {
  margin: 0;
}
