@use "@scss/common" as *;

.pre {
  background: var(--color-lightest-gray) !important;
  padding: base(1) !important;
  margin: 0 !important;
}

.darkMode {
  background: var(--color-darkest-gray) !important;
}
