@use './queries' as *;
@use './functions' as *;
@use './vars' as *;

@mixin button-reset {
  font-size: inherit;
  text-align: left;
  font-family: inherit;
  line-height: inherit;
  background-color: transparent;
  letter-spacing: inherit;
  padding: 0;
  border: none;
  color: inherit;
  font-weight: inherit;
  display: inline-flex;
  cursor: pointer;
  margin: unset;

  &:focus {
    outline: none;
  }
}
