@use "./functions.scss" as *;
@use "./queries.scss" as *;
@use "./vars.scss" as *;

@mixin jumbo {
  font-size: base(3.5);
  line-height: 1;
  font-weight: 600;
  margin: 0 0 base();

  @include mid-break {
    font-size: base(2);
  }
}

@mixin h1 {
  font-size: base(2);
  line-height: 1.125;
  margin: 0 0 base();
  font-weight: 600;

  @include mid-break {
    font-size: base(1.5);
  }
}

@mixin h2 {
  font-size: base(1.75);
  line-height: 1.25;
  font-weight: 600;
  margin: 0 0 base(1);

  @include mid-break {
    font-size: base(1.5);
  }
}

@mixin h3 {
  font-size: base(1.5);
  line-height: 1.25;
  font-weight: 600;
  margin: 0 0 base(1);

  @include mid-break {
    font-size: base(1.25);
  }
}

@mixin h4 {
  font-size: base(1.25);
  line-height: 1.25;
  font-weight: 600;
  margin: 0 0 base(0.5);

  @include mid-break {
    font-size: base();
  }
}

@mixin h5 {
  font-size: base(0.7);
  font-weight: 600;
  margin: 0 0 base(0.5);

  @include mid-break {
    font-size: base(.8);
  }
}

@mixin h6 {
  font-size: inherit;
  font-weight: 600;
  margin: 0 0 base(0.5);
}

@mixin large {
  font-size: base(0.625);
  line-height: 1.25;
  margin: 0 0 base(0.75);
  letter-spacing: normal;
  font-weight: normal;

  @include mid-break {
    font-size: base(0.65);
  }
}

@mixin p {
  margin: 0 0 base(0.5);
  letter-spacing: normal;
}

@mixin a {
  margin: base() 0 base(0.1);
}

@mixin ol {
  margin: base(0.5) 0 base(0.5);
}

@mixin ul {
  margin: base(0.5) 0 base(0.5);
}

@mixin li {
  margin-bottom: base(0.125);
}

@mixin code {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

@mixin small {
  font-size: 75%;
  line-height: 1.25;
}
