$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;

$blockContainerWidth: 1400px;

// NOTE: can't be CSS variable because the media queries need to use them
// IMPORTANT: must match vars found in ../pages/_app.tsx
$breakpoint-m-width: 768px;
$breakpoint-l-width: 1024px;
$breakpoint-xl-width: 1600px;
