@use "@scss/common" as *;

.nav {
  display: flex;
  flex-direction: column;

  @include mid-break {
    & > *:not(:last-child) {
      margin-bottom: base(0.25);
    }
  }
}

.title {
  font-weight: bold;
}

.itemLabel {
  position: relative;
  font-weight: normal;
  color: var(--color-gray);
  display: flex;
  align-items: center;

  &:hover {
    color: var(--color-dark-gray);
  }
}

.jumplistLinkLabel {
  color: var(--color-gray);
  position: relative;
  line-height: 1.5;

  &:hover {
    color: var(--color-dark-gray);
  }
}

.itemIsActive {
  color: var(--color-darker-gray);
  &:hover {
    color: var(--color-darker-gray);
  }
}

.groupItems {
  padding-left: base(0.5);
  border-left: var(--color-light-gray) solid var(--stroke-width);
  @include mid-break {
    margin-top: base(0.125);
  }
}

.toggler {
  all: unset;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.chevron {
  margin-right: base(0.25);
}

.link {
  position: relative;
  display: flex;
  align-items: center;
}

.jumplist {
  display: flex;
  flex-direction: column;

  @include mid-break {
    & > *:not(:last-child) {
      margin-bottom: base(0.125);
    }
  }
}

.jumplistContent {
  padding-left: base(0.5);
  padding-bottom: base(0.125);
}

.linkBullet {
  width: 3px;
  height: 3px;
  background-color: currentColor;
  position: absolute;
  left: base(-0.5);
  top: base(0.5);
}

.jumplistBullet {
  width: 4px;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  left: base(-0.5);
  top: 15px;
}

.linkLabel {
  margin-left: base(0.5);
}

.darkMode {
  &:local() {
    .itemLabel {
      color: var(--color-gray);
      &:hover {
        color: var(--color-white);
      }
    }

    .jumplistLinkLabel {
      color: var(--color-gray);
      &:hover {
        color: var(--color-white);
      }
    }

    .itemIsActive {
      color: var(--color-white);
      &:hover {
        color: var(--color-white);
      }
    }
  }
}
